@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

#about {
    padding-top: 150px; 
    margin-top: -150px;
}

#projects {
    padding-top: 150px;
    margin-top: -150px; 
    z-index: 5;
}

@layer base {
  body {
    @apply bg-[#011282] text-[white] tracking-wide
  }
}
*{
  font-family:'Segoe UI';
}
h1 {
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main {
  position: relative;
  height: 100vh;
}
#projects{
  position: relative;
}
#about{
  position: relative;
}
#home{
  position: relative;
}
.topBlur{
  position: absolute;
  height: 50vh;
  width: 50vh;
  min-width: 300px;
  min-height: 300px;
  top: 25vh;
  background-color: #f09ec0;
  filter: blur(100px);
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}
.leftBlur{
  position: absolute;
  height: 40vh;
  width: 40vh;
  min-width: 300px;
  min-height: 300px;
  top: 40vh;
  background-color: #f09ec0;
  filter: blur(100px);
  left: -100px;
  z-index: -10;
}
.rightBlur{
  position: absolute;
  height: 30vh;
  width: 30vh;
  min-width: 300px;
  min-height: 300px;
  top: 60vh;
  background-color: #f09ec0;
  filter: blur(100px);
  right: -128px;
  z-index: -10;
}


