@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

#about {
    padding-top: 150px; 
    margin-top: -150px;
}

#projects {
    padding-top: 150px;
    margin-top: -150px; 
    z-index: 5;
}

@layer base {
  body {
    @apply bg-[#333333] text-[white] tracking-wide
  }
}
*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1 {
  font-size: xx-large;
  font-weight: bold;
}
.main {
  position: relative; /* Ensure the container has a position other than static */
  height: 100vh; /* Set a height to make the particles visible in the viewport */
}


