@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

#about {
    padding-top: 150px; 
    margin-top: -150px;
}

#projects {
    padding-top: 150px;
    margin-top: -150px; 
}

@layer base {
  body {
    @apply bg-[#333333] text-[white] tracking-wide
  }
}
*{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1 {
  font-size: xx-large;
  font-weight: bold;
}
